<%- include('partials/header.ejs') %>

    <div class="container">
        <header>
            <div class="header-row">
                <span> <a href="/home"><img src="/img/icons/chevron-left_icon.svg" alt=""></a></span>

                <p>Selecione a farmácia</p>

                <span></span>
            </div>
        </header>

        <main>
            <div class="reserved-medicines">

                <% farms.forEach(farm=> { %>
                    <div class="medicine">
                        <a href="/reservar/<%= farm.id %>/<%= idMed %>">
                            <p>
                                <%= farm.name %>
                            </p>
                            <p>
                                <%= farm.preco.toLocaleString('pt-BR', { style: 'currency' , currency: 'BRL' }) %>
                            </p>
                        </a>
                    </div>
                    <br><br>
                    <% }) %>
            </div>
        </main>

        <%- include('partials/nav_bottom.ejs') %>
    </div>

    <%- include('partials/footer.ejs') %>