<%- include('partials/header.ejs') %>
    <div class="container">
        <header>
            <div class="header-row">
                <span><a href="/med/<%= idMed %>"><img src="/img/icons/chevron-left_icon.svg" alt=""></a></span>

                <p>Selecione a farmácia</p>

                <span></span>
            </div>
        </header>

        <main>
            <form action="/choosefarm" method="post">
                <div class="preview-options">
                    <div class="preview-options-row">
                        <div class="preview-map">Mapa</div>
                        <div class="preview-list">Lista</div>
                    </div>
                    <div class="list-pharmacies">
                        <% farms.forEach(farm=> { %>
                            <div class="pharmacy">
                                <div class="pharmacy-header">
                                    <p>
                                        <%= farm.name %>
                                    </p>
                                    <p>
                                        <%= farm.preco.toLocaleString('pt-BR', { style: 'currency' , currency: 'BRL' })
                                            %>
                                    </p>
                                </div>
                                <div class="pharmacy-content">
                                    <p>
                                        <%= farm.address %>
                                    </p>
                                    <div>
                                        <img src="/img/icons/clock-outline_icon.svg" alt="">
                                        <p>Seg a Sex - 09:00 as 23:00</p>
                                    </div>
                                    <div>
                                        <img src="/img/icons/phone_icon.svg" alt="">
                                        <p>
                                            <%= farm.phone %>
                                        </p>
                                    </div>
                                </div>
                                <div class="pharmacy-footer">
                                    A 350m. da sua localização atual
                                    <label for="pharmacy-opt"></label>
                                    <input type="radio" name="idFarm" id="pharmacy-opt" value="<%= farm.id %>">
                                </div>

                            </div>
                            <% }) %>
                                <input type="hidden" name="idMed" value="<%= idMed %>">
                    </div>
                </div>
                <br>
                <div class="button-row">
                    <button class="default-button" type="submit">Selecionar</button>
                </div>
            </form>
        </main>

        <%- include('partials/nav_bottom.ejs') %>
    </div>

    <%- include('partials/footer.ejs') %>