<%- include('partials/header.ejs') %>
    <div class="container" id="profile">
        <header>
            <div class="header-row">
                <span>
                    <a href="/home">
                        <img src="/img/icons/chevron-left_icon.svg" alt="">
                    </a>
                </span>

                <p>Perfil</p>

                <span><img src="/img/icons/bell-badge_icon.svg" alt=""></span>
            </div>
        </header>
        <main>
            <div class="user-information-area">
                <div class="user-image">
                    <div class="profile-picture">
                        <img src="/uploads/perfil/<%= dados.image %>" alt="">
                    </div>
                    <span class="set-image">
                        <a href="/image">
                            <img src="/img/icons/set-image_icon.svg" alt="">
                        </a>
                    </span>
                </div>
                <div class="user-data">
                    <p><%= dados.name %></p>
                    <p>Av. Clara Gianotti de Souza, 257 - Centro </p>
                    <p>Registro - SP, 11900-000</p>
                </div>
            </div>
            <div class="profile-options">
                <div class="profile-option-row">
                    Configurações
                    <img src="/img/icons/chevron-right_icon.svg" alt="">
                </div>
                <div class="profile-option-row">
                    Editar perfil
                    <img src="/img/icons/chevron-right_icon.svg" alt="">
                </div>
                <div class="profile-option-row">
                    Minhas prescrições
                    <img src="/img/icons/chevron-right_icon.svg" alt="">
                </div>
                <div class="profile-option-row">
                    Cartões de pagamento
                    <img src="/img/icons/chevron-right_icon.svg" alt="">
                </div>
            </div>

            <div class="button-row">
                <a href="/logout" class="alternative-button">Sair</a>
            </div>
        </main>

        <%- include('partials/nav_bottom.ejs') %>
    </div>


    <%- include('partials/footer.ejs') %>